.quiz-intro-screen {
    width: calc(100vw - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}