.timer {
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 0 10px 1px black;
    background: white;
    padding: 10px;
    font-size: xx-large;
    text-align: center;
}
.timer.top-left {
    top: 10px;
    right: 10px;
}
.timer.bottom-center {
    bottom: 10px;
}